
/* remove page space*/
body{
	margin: 0px;
	padding: 0px;
	background-color: #474747;
}

/*remove link underline*/
a{
	text-decoration: none;
	color: #FFFFFF;
}



.bghover:hover{

    
    background-color: #F88490;
    transition-duration: 0.2s;


}

.imghover:hover{
	filter: brightness(1.1);
	transition-duration: 0.2s;
}


.pinkhover:hover{
	background-color: #F65364;
    transition-duration: 0.2s;
}

/* top header*/


.header {
	background-color: #F5515F;
	display: block;

	width: 100%;
	height: 77px;

	position: fixed;
	z-index: 2;



}

.topButtons {
	display: inline-block;
	width: 70%;
	padding-top: 21px;
	text-align: center;

}

.topButton {
	font-family: AvenirNext-Bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;

	height: 27px;
	width: 140px;
	background-color: #F5515F;
    border: 5px solid #FFFFFF;

    padding-top: 8px;

    display: inline-block;
    vertical-align: middle;

    margin-right:1%;
    margin-left:1%;





}

#tb_home{
	background: #D13148;
}

.topimg {
	float: left;
	width: 12%;
	margin-left: 3%;
	margin-bottom: 13px;
	margin-top: 13px;

}

.topcart {
	float: right;
	

	margin-top: 30px;





}

.topcart img{
	padding-right: 100px;
	margin-right: -90px;

}



.cartT{
	font-family: AvenirNext-Bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;

	float: right;
	margin-right: 7%;


	margin-top: 23px;





}


/* promo picture*/

.promo{
	padding-top: 98px;
}

#promopic{
	max-width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.promoButton{

	font-family: AvenirNext-Bold;
	font-size: 39px;
	color: #FFFFFF;
	text-align: center;

	width: 500px;
	height: 70px;
	padding-top: 20px;
	background-color: #F65364;
	border: 11px solid #FFFFFF;
	display: block;

	position: absolute;
	top: 540px;
	right: 150px;


	

	
}


/* feature items */

.feature{
	padding-top: 62px;
	
}

#featureT{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.figure{
	display: inline-block;
}

#figures{
	display: flex;
	align-items: center;
	width: 100%;
}

.blankbox{
	width: 20%;
}

.figcaption{
	font-family: AvenirNext-Regular;
	font-size: 27px;
	color: #FFFFFF;
	text-align: center;
}

.itemimg{
	outline: 10px solid #FFFFFF;
	outline-offset: -26px;
}


/* end of page space*/
.spacing{
	padding-bottom: 200px;
}




/*over lay cart*/

.overlayCart{
	visibility: hidden;
	position: fixed; 
    display: block; 
    text-align: center;
    width: 300px; 
    height: 500px; 
    top: 70px; 

    right: 100px;

    background: #4A4A4A;
	border: 11px solid #FFFFFF; 
    z-index: 20; 


    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.50);

    overflow-x: scroll;
}

.cart_T{

	text-align: left;
	font-family: AvenirNext-Regular;
	font-size: 36px;
	color: #FFFFFF;
	padding: 20px;
	background-color: #4A4A4A;
	position: fixed;
	display: block;
	width: 260px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
	z-index: 10;
}



.listOfItem{


	display: inline-block;
	padding-top: 100px;
	padding-bottom: 150px;



}

.numAndSelectDiv{

	width: 20px;
	display: inline-block;
	text-align: left;


}

.itempicDiv{


	display: none;


}
.infoDiv{

	width: 160px;
	text-align: left;
	display: inline-block;

	vertical-align: top;
	padding-top: 15px;

}
.priceButtonDiv{

	width: 90px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	padding-top: 15px;


}


.checkbox{
	font-family: Georgia;
	font-size: 20px;
	color: #FFFFFF;
	text-align: left;
	line-height: 27px;

	



}



.infoName{
	font-family: Georgia;
	font-size: 20px;
	color: #FFFFFF;
	text-align: left;

}

.infoQuant{
	font-family: AvenirNext-Regular;
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 20px;
}

.infoGlaz{
	font-family: AvenirNext-Regular;
	font-size: 12px;
	color: #FFFFFF;
}

.itemPrice{
	font-family: Georgia;
	font-size: 24px;
	color: #FFFFFF;
	text-align: right;
	text-shadow: 0 2px 32px rgba(0,0,0,0.50);
	padding-bottom: 10px;
}

.smallButton{
	display: inline-block;



	font-family: AvenirNext-Bold;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;

	margin-left: 10px;



	height: 30px;
	width: 80px;
	background: #9C9C9C;
	border: 5px solid #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.line1{
	width: 90%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0.5px solid #979797;
}

.line2{
	width: 80%;
	border: 1.5px solid #FFFFFF;


}





.totals{
	position: fixed;
	display: block;
	text-align: right;

    top: 438px; 

    height: 133px;


    right: 111px;
    width: 260px;

    padding-bottom: 10px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;


    background: #4A4A4A;

}

.total{
	font-family: AvenirNext-Regular;
	font-size: 18px;
	color: #FFFFFF;
	display: inline-block;
	text-align: right;
}


.totalPrice{
	font-family: Georgia;
	font-size: 32px;
	color: #FFFFFF;
	text-align: right;
	text-shadow: 0 2px 32px rgba(0,0,0,0.50);
	display: inline-block;
}

.toCartDetail{
	display: inline-block;

	font-family: AvenirNext-Bold;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;

	margin-left: 10px;


	padding-top: 3px;

	height: 27px;
	width: 120px;
	background: #9C9C9C;
	border: 5px solid #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}



























