
/* remove page space*/
body{
	margin: 0px;
	padding: 0px;
	background-color: #474747;
}

/*remove link underline*/
a{
	text-decoration: none;
	color: #FFFFFF;
}


/* top header*/


.header {
	background-color: #F5515F;
	display: block;

	width: 100%;
	height: 77px;

	position: fixed;

	z-index: 100;

}

.topButtons {
	float: left;
	width: 60%;
	padding-top: 21px;

}

.topButton {
	font-family: AvenirNext-Bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;

	height: 27px;
	width: 140px;
	background-color: #F5515F;
    border: 5px solid #FFFFFF;

    padding-top: 8px;

    display: inline-block;
    vertical-align: middle;

    margin-left: 3.667%;
    margin-right: 3.667%;



}

#tb_shop {
	background: #D13148;
}

.topimg {
	float: left;
	width: 20%;
	margin-left: 43px;
	margin-bottom: 13px;
	margin-top: 13px;

}

.topcart {
	float: left;
	width: 3%;

	margin-top: 33px;



}

.cartT{
	font-family: AvenirNext-Bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;

	float: left;

	margin-top: 26px;

}


/* shop items */

.shopitems{
	padding-top: 200px;
	
}

#shopT{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.item{
	display: inline-block;
	position: relative;
    text-align: center;
}

.items{
	display: flex;
	align-items: center;
	width: 100%;
}

.blankbox{
	width: 20%;
}

.figcaption{
	font-family: AvenirNext-Regular;
	font-size: 21.6px;
	color: #FFFFFF;
	text-align: left;
	margin-left: 13px;
}

.itemimg{
	outline: 10px solid #FFFFFF;
	outline-offset: -26px;
}


/* the price box */
.pricetag{
	display: inline;
	width: 160px;
	height: 70px;

	position: absolute;
	bottom: 120px;
	left: 160px;

	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

}

.itemprice{
	display: inline;
	font-family: Georgia;
	font-size: 53.1px;
	color: #4A4A4A;
}

.unit{
	display: inline;
	font-family: Georgia-Italic;
	font-size: 18px;
	color: #4A4A4A;
}



/* add to cart button */
.tocart {

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	font-family: AvenirNext-Bold;
	font-size: 22.5px;
	color: #FFFFFF;
	text-align: center;



	height: 69px;
	width: 255px;
	background: #9C9C9C;
	border: 7px solid #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);


}



/* end of page space*/
.spacing{
	padding-bottom: 200px;
}


























